* {
    box-sizing: border-box;
}

body {
    background-color: whitesmoke;
}

button, input, body {
    font-family: calibri;
    font-size: 12pt;
}

#divContainer{
    display: grid;
    margin: auto;
    height: 800px;
    width: 1200px;
    border: 1px solid lightgray;
}

#input-holder{
    display: flex;
    width: 100%;
    justify-content: center;
    padding-bottom: 25px;
}

.grid{
    background-color: white;
    border: 1px solid lightgray;
    width: 1fr;
    height: 1fr;
}

.button-size {
    margin-left: 25px;
}